.errorForm{
    border-bottom-color: red !important;
}

.errorFormCard{
    border-color: red !important;
}

.imgToSelect{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.selectedCard{
    border: 1px solid #007bff;
}

.amex{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mc{
    padding-top: 14px;
    padding-bottom: 14px;
}

.visa{
    padding-top: 24px;
    padding-bottom: 24px;
}

.cb{
    padding-top: 17px;
    padding-bottom: 17px;
}

